<app-header-avatar title="Card Page" img="/assets/startDead.jpg"></app-header-avatar>

<ion-content class="ion-padding">
  <ion-card mode="ios">
    <ion-img src="/assets/startDead.jpg">

    </ion-img>
  </ion-card>

  <ion-card mode="ios" color="warning">
    <ion-card-header>
      <ion-card-title>
          <ion-text>
            Soy un header de un posible post
          </ion-text>
        </ion-card-title>
      <ion-card-subtitle>y yo soy algo más pequeño</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      y yo conservo todo le text
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" mode="ios">
    <ion-item color="dark">
      <ion-icon name="rocket-outline" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cupiditate architecto quibusdam dolore rerum quas minima optio deserunt, ut eos fugiat consectetur molestiae incidunt corporis aspernatur velit et voluptates nihil!
    </ion-card-content>
  </ion-card>


</ion-content>
